.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container form {
    width: 25rem;
    display: flex;
    flex-direction: column;

}

.form-control, textarea {
  max-width: 400px;
  margin: 0.2rem 0rem;
  padding: 0.5rem;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #000;
  border-radius: 5px;
}


.send-button {
  margin-top: 15px;
  height: 34px;
  max-width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.contact-container  .button {
  width: 400px;
  height: 35px;
  color: #000;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.contact-container  .button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.contact-container button:hover {
    background-color: #f17828;
}


/* media query */
@media only screen and (max-width: 450px) { 
    .contact-container form {
        width: 17rem;
    }
}
